<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | IIEII</title>
</head>
<body>
    <form class="form-inline my-2 my-lg-0">
        {% if not user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/signup"> Sign Up <span class="sr-only"></span></a>
                </li>
                <hr />
            </ul>
        {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" disabled>
            <span class="nav-link">
                {{ user.username }} 님 반갑습니다!
            </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout"> 로그아웃 </a>
                </li>

                <hr />
            </ul>
        {% endif %}
    </form>


    {% block content %}

    {% endblock %}  
    
</body>
</html>