{% extends 'base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
<div class = 'wrap'>
    <div class = 'page_name'>
        <h1> 로그인 </h1>
    </div>
    <form action="{% url 'users:login' %}" method="POST">
        {% csrf_token %}
        <div class = 'input_boxes'>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" name="username" placeholder="username" >
              </div>

              <div class="input-group input-group-lg">
                <input type="password" class="form-control" name="password" placeholder="password" >
              </div>

              <div class = 'login_btns'>
                  <button type="submit" class="btn btn-outline-dark">로그인</button>
                  <button type="button" class="btn btn-outline-dark" onclick="location.href='{%url 'users:signup' %}'">회원가입</button>
              </div>
        </div>
    </form>
</div>
    {% endblock content %}
