<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
</head>


<body>

    <h1> 회원가입 페이지 </h1>

    <li class="nav-item">
        <a class="nav-link" href="/users/login"> 로그인 </a>
    </li>

    <hr />

    <form action="{% url 'users:signup' %}" method="POST">
        {% csrf_token %}
        <input type="text" 
        name="username"  
        placeholder="username" 
        id='username' 
        class='username'
        />
        <input type="password" name="password" id="" placeholder="password" />
        <input type="password" name="passwordcheck" id="" placeholder="passwordcheck" />
        <input type="text" name="profilefromfront" id="profilefromfront" placeholder="profile 정보" />
        <input type="submit" />
    </form>
    
</body>

</html>