{% extends 'base.html' %}

{% block title %}
    Detail image information page
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail image information</title>
</head>
<body>

    {% block content %}


    <h3>제목 | {{ file.title }}</h3>
    <h4>작성자 ID | {{ file.user }}</h4>
    <div>
        <h5>게시글</h5>
        <h5>{{ file.content }}</h5>
    </div>


    <img class="feed_img" src='{{ file.imgfile.url }}'><br>
    
    <hr />
    {% endblock %}

</body>
</html>