{% extends 'base.html' %}

{% block title %} fileupload page {% endblock %}

{% block content %}
    <div class="title-box">
        <h3>선별할 과일을 선택해 주세요</h3>
        <div style="text-align: right">
            <button type="button" class="btn btn-outline-dark" onclick="location.href='/community/file_result'">지금까지 업로드된 이미지 보러가기</button>
        </div>
    </div>
    <div class="upload-box">
        <form method="POST" action="{% url 'community:fileupload' %}" enctype="multipart/form-data" novalidate>
            {% csrf_token %}                 
            <input class="form-control" type="file" name="file" id="formFile" onchange="readURL(this);">                        
            <br />
            <img id="preview" class="image-preview"/>

            <script>
                function readURL(input){
                    if(input.files && input.files[0]){
                        var reader = new FileReader();
                        reader.onload = function(e){
                            document.getElementById('preview').src = e.target.result;
                        };
                        reader.readAsDataURL(input.files[0]);
                    }else{
                        document.getElementById('preview').src = "";
                    }
                }
            </script>
            <div style="text-align: right;">
                <button id = 'load_btn' type="submit" class="btn btn-outline-dark" onclick="location.href='/community/file_result'">제출</button>
            </div>
            <script>
                const mode =document.getElementById('load_btn');
                mode.addEventListener('click', function(){
                    if(mode.innerText == "제출"){
                        mode.innerText = '로딩중';
                    } else {
                        mode.innerText = '제출'
                    }
                });
            </script>
            <hr>
            <div>
                <h2> 현재 인식 가능한 11가지 종류 과일</h2>
                <h3> blueberry grape kiwi lemon mango melon peach pear pineapple
                    strawberry watermelon</h3>
            </div>
        </form>
    </div>

{% endblock %}
