{% extends 'base.html' %}

{% block title %}
    fileupload page 
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>fileupload page</title>
</head>
<body>
    {% block content %}

    <h1>과일 찾기 인공지능</h1>

        <li class=“nav-item”>
        <a class=“nav-link” href='/community/file_result'> 지금까지 업로드된 이미지 보러가기 </a></li>

        <hr />

    {% load static %}
    
    <div class="container">
        <form method="POST" action="{% url 'community:fileupload' %}" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div>
                <h5>게시글 제목</h5>
                <input type="text" name="title" id="title" placeholder="title" />
            </div>

            <div>
                <h5>게시글 내용</h5>
                <textarea class="form-control" id='content'  style="resize: none" name='content' id="content" placeholder="게시글을 입력해 주세요"></textarea>
            </div>

            
            <div>
                <input type="file" name="file" class="form-control-file border" onchange="readURL(this);">            
                <br />
                <img id="preview" />
                <script>
                    function readURL(input){
                        if(input.files && input.files[0]){
                            var reader = new FileReader();
                            reader.onload = function(e){
                                document.getElementById('preview').src = e.target.result;
                            };
                            reader.readAsDataURL(input.files[0]);
                        }else{
                            document.getElementById('preview').src = "";
                        }
                    }
                </script>
            </div>

            <div>
                <input type="submit" name='submit' lass="btn btn-primary col-12" value="제출">
            </div>
        </form>
    </div>

    {% endblock %}
</body>
</html>